# Service Config
LoginPort            = 7171
ConnectionTimeout    = 5s
MaxConnections       = 10
MaxStatusRecords     = 1024
MinStatusInterval    = 5m
QueryManagerHost     = "127.0.0.1"
QueryManagerPort     = 7173
QueryManagerPassword = "a6glaf0c"

# Service Info
StatusWorld          = ""
URL                  = ""
Location             = ""
ServerType           = "Tibia"
ServerVersion        = "7.7"
ClientVersion        = "7.7"
MOTD                 = "Welcome to Tibia!"

